{% extends 'base.html'%}
{% block content %}







<main>
{% for message in get_flashed_messages() %}
    
    <div class="toast">
        <div class="toast-content">
            <i class="fas fa-solid fa-check check"></i>
            <div class="message">
                {{message}}
            </div>
        </div>
        <i class="fa-solid fa-xmark close"></i>
        <div class="progress"></div>
    </div>
    
{% endfor %}










<div class="formcontainer">
    <header>Name</header>

{% if name %}
    <br>
    <h1>Hello {{name}}</h1>

{% else %}
    <br>
    <h1>Customer List:</h1>
    <br>
    <form method="post">
        <div class="form first">
            <div class="details personal">
                <span class="title">Personal Details</span>
                <div class="fields">
                    <div class="input-field">
                        {{ form.hidden_tag() }}

                        {{ form.name.label(class="label") }}
                        {{ form.name(class="input") }}

                        {{ form.email.label(class="label") }}
                        {{ form.email(class="input") }}
                    </div>
                </div>
                <button class="nextBtn notifbutton" id="notifbutton">
                    <span class="btnText">Next</span>
                    <i class="uil uil-navigator"></i>
                </button>
                
            </div>
        </div>

        
        

    </form>

    <br><br><br>
    {% for our_customer in our_customers %}
        {{ our_customer.customer_id}} - {{ our_customer.name }} - {{ our_customer.email}}
        <br>

    {% endfor %}

    

{% endif %}



</main>




{% endblock %}

{% block sidebar_script %}
<script>
    document.getElementById('add_customer-link').classList.toggle('active');
</script>
{% endblock %}