{% extends 'base.html'%}
{% block content %}







<main>











<div class="gencontainer">
    <header>Name</header>

    <br>
    <h1>Customer List:</h1>
    <br>
    <form method="post">
        <div class="form first">
            <div class="details personal">
                <span class="title">Personal Details</span>
                <div class="fields">
                    <div class="input-field">
                        {{ form.hidden_tag() }}

                        {{ form.name.label(class="label") }}
                        {{ form.name(class="input") }}

                        {{ form.email.label(class="label") }}
                        {{ form.email(class="input")}}

                        {{ form.password_hash.label(class="label") }}
                        {{ form.password_hash(class="input") }}

                        {{ form.password_hash2.label(class="label") }}
                        {{ form.password_hash2(class="input") }}
                    </div>
                </div>
                <button class="nextBtn">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
                
            </div>
        </div>

    </form>

    <div class="formcontainer">
        {% for our_customer in our_customers %}
                {{ our_customer.id}} - 
                <a href="{{url_for('update', id=our_customer.id)}}"> {{ our_customer.email }} </a> - 
                {{ our_customer.email}} - 
                {{ our_customer.blood_type}} - 
                PW: {{ our_customer.password_hash}} - 
                <a href="{{url_for('delete', id=our_customer.id)}}"> Delete </a>
                <br>
        
        {% endfor %}
    </div>
</div>





</main>




{% endblock %}

{% block sidebar_script %}
<script>
    document.getElementById('add_customer-link').classList.toggle('active');
</script>
{% endblock %}