{% extends 'base.html'%}
{% block content %}







<main>











<div class="gencontainer">
    <header>Name</header>

    <br>
    <h1>Admin List:</h1>
    <br>
    <form method="post">
        <div class="form first">
            <div class="details personal">
                <span class="title">Register an Administrator</span>
                <div class="fields">
                    <div class="input-field">
                        {{ form.hidden_tag() }}

                        {{ form.email(class="input", placeholder="Email")}} 
                        {{ form.password_hash(class="input", placeholder="Password") }}
                        {{ form.password_hash2(class="input", placeholder="Confirm Password") }}
                    </div>
                </div>
                <button class="nextBtn">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
                
            </div>
        </div>

    </form>

    <div class="formcontainer">
        {% for our_admin in our_admins %}
                {{ our_admin.id}} - 
                <a href="{{url_for('update', id=our_admin.id)}}"> {{ our_admin.email }} </a> - 
                {{ our_admin.email}} - 
                PW: {{ our_admin.password_hash}} - 
                <a href="{{url_for('delete_admin', id=our_admin.id)}}"> Delete </a>
                <br>
        
        {% endfor %}
    </div>
</div>





</main>




{% endblock %}

{% block sidebar_script %}
<script>
    document.getElementById('add_admin-link').classList.toggle('active');
</script>
{% endblock %}