{% extends 'base.html'%}
{% block content %}

<main>

    

    <div class="header">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li><a href="#" style="pointer-events: none;">
                        Dashboard
                    </a></li>
                /
                <li><a href="#" class="active">Analytics</a></li>
            </ul>
        </div>
   


    


    <!-- Insights -->
        
    <ul class="insights analytics">
        <li>
            <i class='bx bx-plus-medical'></i>
            <span class="info">
                <h3 class="orig-h3">
                    {{doctors_count}}
                </h3>
                <p>Doctors</p>
            </span>
        </li>
        <li><i class='bx bx-group'></i>
            <span class="info">
                <h3 class="orig-h3">
                    {{customers_count}}
                </h3>
                <p>Customers / Patients</p>
            </span>
        </li>
        <li><i class='bx bx-capsule'></i>
            <span class="info">
                <h3 class="orig-h3">
                    {{pharmacies_count}}
                </h3>
                <p>Pharmacies</p>
            </span>
        </li>
        <li><i class='bx bx-file'></i>
            <span class="info">
                <h3 class="orig-h3">
                    {{prescriptions_count}}
                </h3>
                <p>Digital Prescriptions</p>
            </span>
        </li>
    </ul>
    <!-- End of Insights -->

    <!--<ul class="add-info">
    
        <li>
            <span class="info">
                
                <div class="header">
                    <i class='bx bx-phone' style=" color:var(--success);"></i>
                    <h3>More Information</h3>    
                </div>
                <br>
                <div class="add-text">
                    <p class="label">Sex:</p>
                    <p class="mockinput"><strong>{{current_user.sex}}</strong></p>
 
                    <p class="label">Blood Type:</p>
                    <p class="mockinput"><strong>{{current_user.blood_type}}</strong></p>

                    <p class="label">Weight <em>({{current_user.weight_update}})</em> :</p>
                    <p class="mockinput"><strong>{{current_user.weight}} kg</strong></p>
                </div>
                
            </span>
        </li>
        <li>
            <span class="info">
                
                <div class="header">
                    <i class='bx bx-plus-medical' style="color: var(--danger);"></i>
                    <h3>Emergency Details</h3>    
                </div>
                <br>
                <div class="add-text">
                    <p class="label">Contact Person:</p>
                    <p class="mockinput"><strong>{{current_user.emergency_person}}</strong></p>

                    <p class="label">Contact No:</p>
                    <p class="mockinput"><strong>{{current_user.emergency_number}}</strong></p>

                    <p class="label">Email:</p>
                    <p class="mockinput"><strong>{{current_user.emergency_email}}</strong></p>
                </div>
                
            </span>
        </li>
        
        
    </ul>-->

    <div class="bottom-data">
        <div class="orders">
            <div class="header">
                <i class="fa-solid fa-chart-pie" style="font-size: 24px; color: var(--warning);"></i>
                <h3>Users Distribution</h3>
                <!--<i class='bx bx-layer' style="color: var(--primary);"></i>-->
                <!-- <a href="#" class="allPres">
                    <span>View All</span>
                    <i class='bx bx-search all-pres'></i>
                </a>       -->
            </div>
            <canvas id="userbase" width="50px" height="50px"></canvas>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                //Chart.scaleService.updateScaleDefaults('linear', {
                //        ticks: {
                //           min: 0
                //        }
                //});

                const userbase_chart = document.getElementById('userbase');
                const doctors = {{doctors_count}};
                const customers = {{customers_count}};
                const pharmacies = {{pharmacies_count}};

                new Chart(userbase_chart, {
                    type: 'pie',
                    data: {
                    labels: ['Patients', 'Doctors', 'Pharmacies'],
                        datasets: [{
                            label: "Registered Users",
                            data: [customers, doctors, pharmacies],
                            backgroundColor: ['#fbc02d', '#1976d2', '#3f9444',
                                '#B276B2', '#E16851', '#FB8267'],

                            borderWidth: 1,
                            
                            hoverBorderWidth: 2,
                            
                            pointHoverRadius: 5
                        }],
                    },
                    options: {
                            title: {
                                display: true,
                                    text: "Income Vs Expenses",
                                        fontSize: 20,
                            },
                            legend: {
                                position: "right",
                                    labels: {
                                    fontColor: "gray"
                                },
                                display: true,
                            },

                            elements: {
                                hitRadius: 3,
                            }
                    }
                })
            </script>



        </div>
        <div class="orders">
            <div class="header">
                <i class="fa-solid fa-chart-line" style="font-size: 24px; color: var(--primary)"></i>
                <h3>Prescriptions per Day</h3>
                <!--<i class='bx bx-layer' style="color: var(--primary);"></i>-->
                <!-- <a href="#" class="allPres">
                    <span>View All</span>
                    <i class='bx bx-search all-pres'></i>
                </a>       -->
            </div>
            
            <canvas id="prescriptions" width="50" height="50"></canvas>
            
            

        <script>
            const style = getComputedStyle(document.body);
            const light = style.getPropertyValue('--light');
            const dark = style.getPropertyValue('--dark');
            //Chart.scaleService.updateScaleDefaults('linear', {
            //        ticks: {
            //           min: 0
            //        }
            //});

            const prescriptions_chart = document.getElementById('prescriptions');
            const dates = JSON.parse({{dates_labels | tojson}});
            const counts = JSON.parse({{prescription_num | tojson}});


            new Chart(prescriptions_chart, {
                type: 'line',
                data: {
                labels: dates,
                    datasets: [{
                        label: "Created Prescriptions",
                        data: counts,
                        backgroundColor: ['#5DA5DA', '#FAA43A', '#60BD68',
                            '#B276B2', '#E16851', '#FB8267'],
                        borderColor: 'rgb(75, 192, 192)',
                        fontColor: "white",

                        borderWidth: 2,
                        fontColor:'rgb(75, 192, 192)',
                        hoverBorderColor: '#5DA5DA',
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Income Vs Expenses",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: dark
                            },
                            display: true,
                        },

                        elements: {
                            hitRadius: 3,
                        }
                }
            })
        </script>

        </div>
    </div>
    

    <div class="bottom-data">
        <div class="orders">
            <div class="header">
                <i class="fa-solid fa-prescription" style="font-size: 24px; "></i>
                <h3>Recent Prescriptions</h3>
                <i class='bx bx-layer' style="color: var(--primary);"></i>
                <!-- <a href="#" class="allPres">
                    <span>View All</span>
                    <i class='bx bx-search all-pres'></i>
                </a>       -->
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Prescribed by</th>
                        <th>Date Prescribed</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                {%for prescription in prescriptions [::-1]%}
                    <tr>
                        <td>{{prescription.id}}</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p> Dr. {{prescription.prescriber.first_name}} {{prescription.prescriber.last_name}}</p>
                        </td>
                        <td>{{prescription.date_added}}</td>
                        <td><span class="status {{prescription.status}}">{{prescription.status}}</span></td>
                    </tr>
                {%endfor%}
                    
                </tbody>
            </table>
        </div>

        <!--<div class="users">
            <div class="header">
                <i class="bx bx-error-alt" style="color: var(--warning);"></i>
                <h3>Allergies</h3>
                 <a href="#" class="allUser">
                    <span>View All</span>
                    <i class='bx bx-search all-user'></i>
                </a> 
                <i class='bx bx-layer' style="color: var(--primary);"></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Allergic to</th>
                        <th>Diagnosed by</th>
                        <th>Date Added</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cetirizine</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>                               
                    </tr>

                    <tr>
                        <td>Amoxicillin</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>      
                    </tr>
                    <tr>
                        <td>Desloratadine</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    <tr>
                        <td>Levocetirizine</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>-->

        <div class="users">
            <div class="header">
                <i class='bx bxs-user-account'></i>
                <h3>New Users</h3>
                <i class='bx bx-layer' style="color: var(--primary);"></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date Joined</th>
                    </tr>
                </thead>
                <tbody>
                {%for customer in customers [::-1]%}
                    <tr>
                        <td>{{customer.id}}</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>{{customer.first_name}} {{customer.last_name}}</p>
                        </td>
                        <td>{{customer.date_added}}</td>                               
                    </tr>
                {%endfor%}
                    
                </tbody>
            </table>
        </div>
    
        <!-- Reminders 
        <div class="reminders">
            <div class="header">
                <i class='bx bx-note'></i>
                <h3>Remiders</h3>
                <i class='bx bx-filter'></i>
                <i class='bx bx-plus'></i>
            </div>
            <ul class="task-list">
                <li class="completed">
                    <div class="task-title">
                        <i class='bx bx-check-circle'></i>
                        <p>Start Our Meeting</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="completed">
                    <div class="task-title">
                        <i class='bx bx-check-circle'></i>
                        <p>Analyse Our Site</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="not-completed">
                    <div class="task-title">
                        <i class='bx bx-x-circle'></i>
                        <p>Play Footbal</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
            </ul>
        </div>
    
         End of Reminders-->
    
    </div>

</main>

{% endblock %}

{% block sidebar_script %}
<script>
    document.getElementById('dashboard-link').classList.toggle('active');
</script>
{% endblock %}