{% extends 'base.html'%}
{% block content %}

<main>

    

    <div class="header">
        <div class="left">
            <h1>Patient Profile</h1>
            <ul class="breadcrumb">
                <li><a href="#" style="pointer-events: none;">
                        Patient {{id.id}}</a>
                    </li>
                /
                <li><a href="#" class="active">
                    Profile</a>
                </li>
            </ul>
        </div>
        {%if (id.last_name == None) and (id.first_name == None)%}
        {%else%}
        <a href="#" class="report">
            <i class='bx bx-qr' style="color: white;"></i>
            <span style="color: white;">Profile QR</span>
        </a>
        {%endif%}
    </div>
    <div class="modal-bg">
        <div class="modal"  transition-style="in:custom:circle-swoop">
            <span class="close-modal" onclick="closeModal()"><i class="bx bx-x"></i></span>
            <img class="img-qr" src="{{ qrcode(id.id, error_correction='H', icon_img='images/qrlogo.png', border=1) }}" alt="QR Code">
            <a href="#" class="download-button" style=" color: white;
            background-color:var(--success)">
                Download QR
            </a>
        </div>
    </div>
    
   


   

        
    <!-- Insights -->
        
        <ul class="insights">
            <li class='user-profile'>
                <span class="info">
                    {% if id.profile_pic %}

                    <img src="{{url_for('static', filename= '/images/' + id.profile_pic)}}">

                    {%else%}

                    <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                    {%endif%}
                    <h2 class="nameunder">{{id.last_name}}, {{id.first_name}} {{id.middle_name[0]}}.</h2>
                    <!--<p>Fullstack Web Developer</p>-->
                </span>
            </li>
            <li>
                <span class="info">
                    <h3 class="nameupper">
                        {{id.last_name}}, {{id.first_name}} {{id.middle_name[0]}}.
                    </h3>
                    <div class="text-muted acc-info" style="font-size: small;">
                        <em>Account Type: <strong>{{id.account_type}}</strong></em>
                        <br>
                        <em>Date Joined: <strong>{{id.date_added}}</strong></em>
                        <br>
                        <em>ID: <strong>{{id.id}}</strong></em>
                    </div>

                    <p class="label">Birthdate:</p>
                    <p class="mockinput"><strong>{{id.birthdate}}</strong></p>
                    
                    <p class="label">Contact No:</p>
                    <p class="mockinput"><strong>{{id.contact_number}}</strong></p>

                    <p class="label">Email:</p>
                    <p class="mockinput"><strong>{{id.email}}</strong></p>

                    <p class="label">Address:</p>
                    <p class="mockinput"><strong>{{id.address}}</strong></p>
                </span>
            </li>
            
        
        </ul>
    <!-- End of Insights -->

    <ul class="add-info">
    
        <li>
            <span class="info">
                
                <div class="header">
                    <i class='bx bxs-heart' style=" color:var(--danger);"></i>
                    <h3>More Information</h3>    
                </div>
                <br>
                <div class="add-text">
                    <p class="label">Sex:</p>
                    <p class="mockinput"><strong>{{id.sex}}</strong></p>
 
                    <p class="label">Blood Type:</p>
                    <p class="mockinput"><strong>{{id.blood_type}}</strong></p>

                    <p class="label">Weight <em>({{id.weight_update}})</em> :</p>
                    <p class="mockinput"><strong>{{id.weight}} kg</strong></p>
                </div>
                
            </span>
        </li>
        <li>
            <span class="info">
                
                <div class="header">
                    <i class='bx bx-plus-medical' style="color: var(--danger);"></i>
                    <h3>Emergency Details</h3>    
                </div>
                <br>
                <div class="add-text">
                    <p class="label">Contact Person:</p>
                    <p class="mockinput"><strong>{{id.emergency_person}}</strong></p>

                    <p class="label">Contact No:</p>
                    <p class="mockinput"><strong>{{id.emergency_number}}</strong></p>

                    <p class="label">Email:</p>
                    <p class="mockinput"><strong>{{id.emergency_email}}</strong></p>
                </div>
                
            </span>
        </li>
        
        
    </ul>

    
    
    <div class="bottom-data">
        <div class="orders">
            <div class="header">
                <i class="fa-solid fa-prescription" style="font-size: 24px; "></i>
                <h3>Recent Prescriptions</h3>
                <div>
                <a href="{{url_for('customer_prescriptions', id=id.id)}}"><i class='bx bx-layer' style="color: var(--primary);"></i></a>
                </div>
                <!-- <a href="#" class="allPres">
                    <span>View All</span>
                    <i class='bx bx-search all-pres'></i>
                </a>       -->
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Prescribed by</th>
                        <th>Date Prescribed</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {%for prescription in prescriptions [::-1] if prescription.patient.id == id.id%}
                    
        
                    
                    <tr>
                            <td>{{prescription.id}}</td>
                            <td>
                                <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                                <p> Dr. {{prescription.prescriber.first_name}} {{prescription.prescriber.last_name}}</p>
                            </td>
                            <td>{{prescription.date_added}}</td>
                            <td><span class="status {{prescription.status}}">{{prescription.status}}</span></td>

                    </tr>
                   
             
                    
                    
                {%endfor%}
                    
                </tbody>
            </table>
        </div>

        <div class="users">
            <div class="header">
                <i class="bx bx-error-alt" style="color: var(--warning);"></i>
                <h3>Allergies</h3>
                <!-- <a href="#" class="allUser">
                    <span>View All</span>
                    <i class='bx bx-search all-user'></i>
                </a> -->
                <div>
                    <a href="{{url_for('customer_prescriptions', id=id.id)}}"><i class='bx bx-layer' style="color: var(--primary);"></i></a>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Allergic to</th>
                        <th>Diagnosed by</th>
                        <th>Date Added</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cetirizine</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>                               
                    </tr>

                    <tr>
                        <td>Amoxicillin</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>      
                    </tr>
                    <tr>
                        <td>Desloratadine</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    <tr>
                        <td>Levocetirizine</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>

        <!--<div class="users">
            <div class="header">
                <i class='bx bx-receipt'></i>
                <h3>New Users</h3>
                <a href="#" class="allUser">
                    <span>View All</span>
                    <i class='bx bx-search all-user'></i>
                </a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date Joined</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>                               
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>      
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>-->
    
        <!-- Reminders 
        <div class="reminders">
            <div class="header">
                <i class='bx bx-note'></i>
                <h3>Remiders</h3>
                <i class='bx bx-filter'></i>
                <i class='bx bx-plus'></i>
            </div>
            <ul class="task-list">
                <li class="completed">
                    <div class="task-title">
                        <i class='bx bx-check-circle'></i>
                        <p>Start Our Meeting</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="completed">
                    <div class="task-title">
                        <i class='bx bx-check-circle'></i>
                        <p>Analyse Our Site</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="not-completed">
                    <div class="task-title">
                        <i class='bx bx-x-circle'></i>
                        <p>Play Footbal</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
            </ul>
        </div>
    
         End of Reminders-->
    
    </div>


    <br><br>

</main>

{% endblock %}

{% block sidebar_script %}
<script>
    document.getElementById('dashboard-link').classList.toggle('active');
</script>
{% endblock %}