{% extends 'base.html'%}
{% block content %}

<main>
    {% for message in get_flashed_messages() %}
    
        <div class="toast">
            <div class="toast-content">
                <i class="fas fa-solid fa-check check"></i>
                <div class="message">
                    {{message}}
                </div>
            </div>
            <i class="fa-solid fa-xmark close"></i>
            <div class="progress"></div>
        </div>

    {% endfor %}

    <div class="modal-bg">
        <div class="modal"  transition-style="in:custom:circle-swoop">
            <span class="close-modal" onclick="closeModal()"><i class="bx bx-x"></i></span>
            <img class="img-qr" src="{{url_for('static', filename= '/images/qr-sample.png')}}" alt="QR Code">
            <a href="#" class="download-button" style="color: white;
            background-color: var(--success);">
                Download QR
            </a>
        </div>
    </div>


    <div class="header">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li><a href="#">
                        Analytics
                    </a></li>
                /
                <li><a href="#" class="active">Shop</a></li>
            </ul>
        </div>
        <a href="#" class="report">
            <i class='bx bx-qr'></i>
            <span>Profile QR</span>
        </a>
    </div>
    
    <!-- Insights -->
        <ul class="insights">
    
            <li class='user-profile'>
                <span class="info">
                    <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                    <!--<h3>Geo B</h3>
                    <p>Fullstack Web Developer</p>-->
                </span>
            </li>
            <li>
                <span class="info">
                    
                    <h3>
                        Dela Cruz, Juan P.
                        <div class="text-muted" style="font-size: small;">
                            <em>Account Type: <strong>Customer</strong></em>
                            <br>
                            <em>ID: <strong>001</strong></em>
                        </div>
                    </h3>
                    

                        <p class="label">Sex:</p>
                        <p class="mockinput"><strong>Male</strong></p>

                        
                        <p class="label">Blood Type:</p>
                        <p class="mockinput"><strong>O+</strong></p>

                        <p class="label">Birthdate:</p>
                        <p class="mockinput"><strong>01-01-2003</strong></p>

                        <p class="label">Address:</p>
                        <p class="mockinput"><strong>Cuta, Batangas City, Batangas</strong></p>

                    
                </span>
            </li>
            
            
        </ul>
    <!-- End of Insights -->

    <ul class="add-info">
    
        <li>
            <span class="info">
                
                <div class="header">
                    <i class='bx bx-receipt'></i>
                    <h3>Contact Information</h3>    
                </div>
                <br>
                <div class="add-text">
                    <p class="label">Email:</p>
                    <p class="mockinput"><strong>juandelacruz@gmail.com</strong></p>

                    <p class="label">Contact No:</p>
                    <p class="mockinput"><strong>+63 948-086-9613</strong></p>
                </div>
                
            </span>
        </li>
        <li>
            <span class="info">
                
                <div class="header">
                    <i class='bx bx-receipt'></i>
                    <h3>Emergency Details</h3>    
                </div>
                <br>
                <div class="add-text">
                    <p class="label">Contact Person:</p>
                    <p class="mockinput"><strong>Julian Dela Cruz</strong></p>

                    <p class="label">Contact No:</p>
                    <p class="mockinput"><strong>+63 959-013-1233</strong></p>
                </div>
                
            </span>
        </li>
        
        
    </ul>

    
    
    <div class="bottom-data">
        <div class="orders">
            <div class="header">
                <i class='bx bx-receipt'></i>
                <h3>Recent Prescriptions</h3>
                <a href="#" class="allPres">
                    <span>View All</span>
                    <i class='bx bx-search all-pres'></i>
                </a>      
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Prescribed by</th>
                        <th>Date Prescribed</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p> Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                        <td><span class="status success">Filled</span></td>
                        
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                        <td><span class="status warning">Partially Filled</span></td>
                        
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                        <td><span class="status danger">Not Filled</span></td>
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>

        <div class="users">
            <div class="header">
                <i class='bx bx-receipt'></i>
                <h3>New Users</h3>
                <a href="#" class="allUser">
                    <span>View All</span>
                    <i class='bx bx-search all-user'></i>
                </a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date Joined</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>                               
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>      
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    
        <!-- Reminders 
        <div class="reminders">
            <div class="header">
                <i class='bx bx-note'></i>
                <h3>Remiders</h3>
                <i class='bx bx-filter'></i>
                <i class='bx bx-plus'></i>
            </div>
            <ul class="task-list">
                <li class="completed">
                    <div class="task-title">
                        <i class='bx bx-check-circle'></i>
                        <p>Start Our Meeting</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="completed">
                    <div class="task-title">
                        <i class='bx bx-check-circle'></i>
                        <p>Analyse Our Site</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="not-completed">
                    <div class="task-title">
                        <i class='bx bx-x-circle'></i>
                        <p>Play Footbal</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
            </ul>
        </div>
    
         End of Reminders-->
    
    </div>
    <br><br>

</main>

{% endblock %}

{% block sidebar_script %}
<script>
    document.getElementById('dashboard-link').classList.toggle('active');
</script>
{% endblock %}