{% extends 'base.html'%}
{% block content %}

<main>

    

    <div class="header">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li><a href="#" style="pointer-events: none;">
                        Dashboard
                    </a></li>
                /
                <li><a href="#" class="active">Profile</a></li>
            </ul>
        </div>
        {%if (current_user.last_name == None) and (current_user.first_name == None)%}
        {%else%}
        <a href="#" class="report">
            <i class='bx bx-qr' style="color: white;"></i>
            <span style="color: white;">Profile QR</span>
        </a>
        {%endif%}
    </div>
    <div class="modal-bg">
        <div class="modal"  transition-style="in:custom:circle-swoop">
            <span class="close-modal" onclick="closeModal()"><i class="bx bx-x"></i></span>
            <!--<img class="img-qr" src="{{url_for('static', filename= '/images/qr-sample.png')}}" alt="QR Code">-->
            <img class="img-qr" src="{{ qrcode(current_user.id, error_correction='H', icon_img='images/qrlogo.png', border=1) }}" alt="QR Code">
            <a href="#" class="download-button" style=" color: white;
            background-color:var(--success)">
                Download QR
            </a>
        </div>
    </div>
    
   


    {%if (current_user.last_name == None) and (current_user.first_name == None)%}
    
    <div class="regformcontainer">
        <header>ALLOW US TO KNOW YOU BETTER.</header>
        <form action="/dashboard" method="post" id="regform">
            <div class="form first">
    
                <div class="details name">
                    <br>
                    <span class="title">Personal Details</span>
                    <div class="fields">
                            {{ form.hidden_tag() }}
                        <div class="input-field">
                            {{ form.first_name.label(class="label") }}
                            {{ form.first_name(class="input", placeholder="Enter firstname") }}
                        </div>
                        <div class="input-field">
                            {{ form.middle_name.label(class="label") }}
                            {{ form.middle_name(class="input", placeholder="Enter middle name") }}
                        </div>
                        <div class="input-field">
                            {{ form.last_name.label(class="label") }}
                            {{ form.last_name(class="input", placeholder="Enter lastname") }}
                        </div>
        
                    </div>
    
                </div>  
                <div class="details other">
                    <br><br>       
                    <div class="fields">
                        <div class="input-field">
                            {{ form.birthdate.label(class="label") }}
                            {{ form.birthdate(class="input", placeholder="Enter birth date") }}
                        </div>
                        <div class="input-field">
                            {{ form.contact_number.label(class="label") }}
                            {{ form.contact_number(class="input", type="number", inputmode="numeric", placeholder="Enter mobile number") }}
                        </div>
                        <div class="input-field">
                            {{ form.address.label(class="label") }}
                            {{ form.address(class="input", placeholder="Barangay, Municipality, Province") }}
                        </div> 
    
                    </div>
                    <br><br><br>
                    <div class="nextBtn extrabutton">
                        <span class="btnText">Next&nbsp;</span>
                        <i class="uil uil-navigator"></i>
                    </div>
                </div>
            </div>
    
    
            <div class="form second">
    
                <div class="details family">
                    <br>
                    <span class="title">Additional Information</span>
                    <div class="fields">
                        <div class="input-field">
                            {{ form.sex.label(class="label") }}
                            {{ form.sex(class="input", placeholder="Male or Female") }}
                        </div>
                        <div class="input-field">
                            {{ form.blood_type.label(class="label") }}
                            {{ form.blood_type(class="input", placeholder="Enter blood type") }}
                        </div>
                        <div class="input-field">
                            {{ form.weight.label(class="label") }}
                            {{ form.weight(class="input", type="number", inputmode="numeric", step="0.01", placeholder="Enter current weight") }}
                        </div>
                    </div>
                </div>
    
                <div class="details emergency">
                    <span class="title">Emergency Details</span>
                    <div class="fields">      
                        <div class="input-field">
                            {{ form.emergency_person.label(class="label") }}
                            {{ form.emergency_person(class="input", placeholder="Enter emergency contact") }}
                        </div>
                        <div class="input-field">
                            {{ form.emergency_number.label(class="label") }}
                            {{ form.emergency_number(class="input", type="number", inputmode="numeric", placeholder="Enter Emergency Number") }}
                        </div>
                        <div class="input-field">
    
                            {{ form.emergency_email.label(class="label") }}
                            {{ form.emergency_email(class="input", placeholder="Emergency Email") }}
                        </div> 
                    </div>
                    <br>
                    <p class="label">By submitting this form, you agree to our <a href="#">Terms</a> and have read and acknowledge the <a href="#">Global Privacy Statement</a>.</p>
                    <br>
                    <div class="buttons">
                        <div class="backBtn">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Back</span>
                        </div>
                        <button class="nextBtn">    
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div>
    
            </div>
            <script>
                const form = document.getElementById("regform"),
                        nextBtn = form.querySelector(".nextBtn"),
                        backBtn = form.querySelector(".backBtn"),
                        allInput = form.querySelectorAll(".first .input");
            
            
                nextBtn.addEventListener("click", ()=> {
                    allInput.forEach(input =>{
                        if(input.value != ""){
                            form.classList.add('secActive');
                        }else{
                            form.classList.remove('secActive');
                        }
                    })
                })
            
                backBtn.addEventListener("click",()=> form.classList.remove('secActive'));
            </script>
        </form>  
    </div>

    {%else%}

        <a href="{{url_for('update', id=name_to_update.id)}}" class="edit">
            <span>Update Profile</span>
            <i class='bx bx-edit'></i>
        </a>
    <!-- Insights -->
        
        <ul class="insights">
            <li class='user-profile'>
                <span class="info">
                    <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                    <h2 class="nameunder">{{current_user.last_name}}, {{current_user.first_name}} {{current_user.middle_name[0]}}.</h2>
                    <!--<p>Fullstack Web Developer</p>-->
                </span>
            </li>
            <li>
                <span class="info">
                    <h3 class="nameupper">
                        {{current_user.last_name}}, {{current_user.first_name}} {{current_user.middle_name[0]}}.
                    </h3>
                    <div class="text-muted acc-info" style="font-size: small;">
                        <em>Account Type: <strong>{{current_user.account_type}}</strong></em>
                        <br>
                        <em>Date Joined: <strong>{{current_user.date_added}}</strong></em>
                        <br>
                        <em>ID: <strong>{{current_user.id}}</strong></em>
                    </div>

                    <p class="label">Birthdate:</p>
                    <p class="mockinput"><strong>{{current_user.birthdate}}</strong></p>
                    
                    <p class="label">Contact No:</p>
                    <p class="mockinput"><strong>{{current_user.contact_number}}</strong></p>

                    <p class="label">Email:</p>
                    <p class="mockinput"><strong>{{current_user.email}}</strong></p>

                    <p class="label">Address:</p>
                    <p class="mockinput"><strong>{{current_user.address}}</strong></p>
                </span>
            </li>
            
        
        </ul>
    <!-- End of Insights -->

    <ul class="add-info">
    
        <li>
            <span class="info">
                
                <div class="header">
                    <i class='bx bxs-heart' style=" color:var(--danger);"></i>
                    <h3>More Information</h3>    
                </div>
                <br>
                <div class="add-text">
                    <p class="label">Sex:</p>
                    <p class="mockinput"><strong>{{current_user.sex}}</strong></p>
 
                    <p class="label">Blood Type:</p>
                    <p class="mockinput"><strong>{{current_user.blood_type}}</strong></p>

                    <p class="label">Weight <em>({{current_user.weight_update}})</em> :</p>
                    <p class="mockinput"><strong>{{current_user.weight}} kg</strong></p>
                </div>
                
            </span>
        </li>
        <li>
            <span class="info">
                
                <div class="header">
                    <i class='bx bx-plus-medical' style="color: var(--danger);"></i>
                    <h3>Emergency Details</h3>    
                </div>
                <br>
                <div class="add-text">
                    <p class="label">Contact Person:</p>
                    <p class="mockinput"><strong>{{current_user.emergency_person}}</strong></p>

                    <p class="label">Contact No:</p>
                    <p class="mockinput"><strong>{{current_user.emergency_number}}</strong></p>

                    <p class="label">Email:</p>
                    <p class="mockinput"><strong>{{current_user.emergency_email}}</strong></p>
                </div>
                
            </span>
        </li>
        
        
    </ul>

    
    
    <div class="bottom-data">
        <div class="orders">
            <div class="header">
                <i class="fa-solid fa-prescription" style="font-size: 24px; "></i>
                <h3>Recent Prescriptions</h3>
                <div>
                    <a href="{{url_for('prescriptions')}}"><i class='bx bx-layer' style="color: var(--primary);"></i></a>
                </div><!-- <a href="#" class="allPres">
                    <span>View All</span>
                    <i class='bx bx-search all-pres'></i>
                </a>       -->
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Prescribed by</th>
                        <th>Date Prescribed</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {%for prescription in prescriptions [::-1] if prescription.patient.id == current_user.id%}
                    
                        <tr>
                            <td>{{prescription.id}}</td>
                            <td>
                                <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                                <p> {{prescription.prescriber.first_name}} {{prescription.prescriber.last_name}}</p>
                            </td>
                            <td>{{prescription.date_added}}</td>
                            <td><span class="status {{prescription.status}}">{{prescription.status}}</span></td>
                        </tr>
                    
                    {%endfor%}
                    
                </tbody>
            </table>
        </div>

        <div class="users">
            <div class="header">
                <i class="bx bx-error-alt" style="color: var(--warning);"></i>
                <h3>Allergies</h3>
                <!-- <a href="#" class="allUser">
                    <span>View All</span>
                    <i class='bx bx-search all-user'></i>
                </a> -->
                <i class='bx bx-layer' style="color: var(--primary);"></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Allergic to</th>
                        <th>Diagnosed by</th>
                        <th>Date Added</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cetirizine</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>                               
                    </tr>

                    <tr>
                        <td>Amoxicillin</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>      
                    </tr>
                    <tr>
                        <td>Desloratadine</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    <tr>
                        <td>Levocetirizine</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>Dr. John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>

        <!--<div class="users">
            <div class="header">
                <i class='bx bx-receipt'></i>
                <h3>New Users</h3>
                <a href="#" class="allUser">
                    <span>View All</span>
                    <i class='bx bx-search all-user'></i>
                </a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date Joined</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>                               
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>      
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <img src="{{url_for('static', filename= '/images/Dp.jpg')}}">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>-->
    
        <!-- Reminders 
        <div class="reminders">
            <div class="header">
                <i class='bx bx-note'></i>
                <h3>Remiders</h3>
                <i class='bx bx-filter'></i>
                <i class='bx bx-plus'></i>
            </div>
            <ul class="task-list">
                <li class="completed">
                    <div class="task-title">
                        <i class='bx bx-check-circle'></i>
                        <p>Start Our Meeting</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="completed">
                    <div class="task-title">
                        <i class='bx bx-check-circle'></i>
                        <p>Analyse Our Site</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="not-completed">
                    <div class="task-title">
                        <i class='bx bx-x-circle'></i>
                        <p>Play Footbal</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
            </ul>
        </div>
    
         End of Reminders-->
    
    </div>

    {%endif%}

    <br><br>

</main>

{% endblock %}

{% block sidebar_script %}
<script>
    document.getElementById('dashboard-link').classList.toggle('active');
</script>
{% endblock %}