{% extends 'base.html'%}
{% block content %}







<main>
{% for message in get_flashed_messages() %}
    
    <div class="toast">
        <div class="toast-content">
            <i class="fas fa-solid fa-check check"></i>
            <div class="message">
                {{message}}
            </div>
        </div>
        <i class="fa-solid fa-xmark close"></i>
        <div class="progress"></div>
    </div>
    
{% endfor %}




<div class="header">
    <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
            <li><a href="#" style="pointer-events: none;">
                    Dashboard
                </a>
            </li>
            /
            <li><a href="{{url_for('doctor_dashboard')}}">
                Profile
                </a>
            </li>
            /
            <li><a href="#" class="active">
                Update
                </a>
            </li>
        </ul>
    </div>

</div>
<div class="formcontainer">
    <header>KEEP YOUR INFORMATION UP-TO-DATE.</header>
    <form action="/doctor/dashboard" method="post" id="regform">
        <div class="form first">

            <div class="details name">
                <br>
                <span class="title">Personal Details</span>
                <div class="fields">
                        {{ form.hidden_tag() }}
                    <div class="input-field">
                        {{ form.first_name.label(class="label") }}
                        {{ form.first_name(class="input", placeholder="Enter firstname", value=name_to_update.first_name) }}
                    </div>
                    <div class="input-field">
                        {{ form.middle_name.label(class="label") }}
                        {{ form.middle_name(class="input", placeholder="Enter middle name", value=name_to_update.middle_name) }}
                    </div>
                    <div class="input-field">
                        {{ form.last_name.label(class="label") }}
                        {{ form.last_name(class="input", placeholder="Enter lastname", value=name_to_update.last_name) }}
                    </div>
    
                </div>

            </div>  
            <div class="details other">
                <br>       
                <div class="fields">
                    <div class="input-field">
                        {{ form.birthdate.label(class="label") }}
                        {{ form.birthdate(class="input", placeholder="Enter birth date", value=name_to_update.birthdate) }}
                    </div>
                    <div class="input-field">
                        {{ form.contact_number.label(class="label") }}
                        {{ form.contact_number(class="input", type="number", inputmode="numeric", placeholder="Enter mobile number", value=name_to_update.contact_number) }}
                    </div>
                    <div class="input-field">
                        {{ form.address.label(class="label") }}
                        {{ form.address(class="input", placeholder="Barangay, Municipality, Province", value=name_to_update.address) }}
                    </div>
                    

                </div>
                <br><br>
                <div class="nextBtn extrabutton">
                    <span class="btnText">Next&nbsp;</span>
                    <i class="uil uil-navigator"></i>
                </div>
            </div>
        </div>


        <div class="form second">

            <div class="details family">
                <br>
                <span class="title">Additional Information</span>
                <div class="fields">
                    <div class="doctor-input-field">
                        {{ form.ptr_number.label(class="label") }}
                        {{ form.ptr_number(class="input", placeholder="Professional Tax Receipt Number", value=name_to_update.ptr_number) }}
                    </div> 
                    <div class="doctor-input-field">
                        {{ form.specialty.label(class="label") }}
                        {{ form.specialty(class="input", placeholder="Specialty 1, Specialty 2, etc.", value=name_to_update.specialty) }}
                    </div> 
                </div>
            </div>

            <div class="details emergency">
                <span class="title">Licenses</span>
                <div class="fields">      
                    
                    <div class="doctor-input-field">
                        {{ form.prc_lic_number.label(class="label") }}
                        {{ form.prc_lic_number(class="input", placeholder="PRC License Number", value=name_to_update.prc_lic_number) }}
                    </div>
                    <div class="doctor-input-field">
                        {{ form.s2_lic_number.label(class="label") }}
                        {{ form.s2_lic_number(class="input", placeholder="S2 License Number", value=name_to_update.s2_lic_number) }}
                    </div> 
                </div>
                <br>
                <div class="buttons">
                    <div class="backBtn">
                        <i class="uil uil-navigator"></i>
                        <span class="btnText">Back</span>
                    </div>
                    <button class="nextBtn">    
                        <span class="btnText">Submit</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>

        </div>
        <script>
            const form = document.getElementById("regform"),
                    nextBtn = form.querySelector(".nextBtn"),
                    backBtn = form.querySelector(".backBtn"),
                    allInput = form.querySelectorAll(".first .input");
        
        
            nextBtn.addEventListener("click", ()=> {
                allInput.forEach(input =>{
                    if(input.value != ""){
                        form.classList.add('secActive');
                    }else{
                        form.classList.remove('secActive');
                    }
                })
            })
        
            backBtn.addEventListener("click",()=> form.classList.remove('secActive'));
        </script>  
    </form>
    
     
</div>

<!--<div class="regformcontainer">
    <header>KEEP YOUR INFORMATION UP-TO-DATE.</header>
    <form action="/doctor/dashboard" method="post" id="regform">
        <div class="form first">

            <div class="details name">
                <br>
                <span class="title">Personal Details</span>
                <div class="fields">
                        {{ form.hidden_tag() }}
                    <div class="input-field">
                        {{ form.first_name.label(class="label") }}
                        {{ form.first_name(class="input", placeholder="Enter firstname") }}
                    </div>
                    <div class="input-field">
                        {{ form.middle_name.label(class="label") }}
                        {{ form.middle_name(class="input", placeholder="Enter middle name") }}
                    </div>
                    <div class="input-field">
                        {{ form.last_name.label(class="label") }}
                        {{ form.last_name(class="input", placeholder="Enter lastname") }}
                    </div>
    
                </div>

            </div>  
            <div class="details other">
                <br><br>       
                <div class="fields">
                    <div class="input-field">
                        {{ form.birthdate.label(class="label") }}
                        {{ form.birthdate(class="input", placeholder="Enter birth date") }}
                    </div>
                    <div class="input-field">
                        {{ form.contact_number.label(class="label") }}
                        {{ form.contact_number(class="input", type="number", inputmode="numeric", placeholder="Enter mobile number") }}
                    </div>
                    <div class="input-field">
                        {{ form.address.label(class="label") }}
                        {{ form.address(class="input", placeholder="Barangay, Municipality, Province") }}
                    </div> 

                </div>
                <br><br><br>
                <div class="nextBtn extrabutton">
                    <span class="btnText">Next&nbsp;</span>
                    <i class="uil uil-navigator"></i>
                </div>
            </div>
        </div>


        <div class="form second">

            <div class="details family">
                <br>
                <span class="title">Additional Information</span>
                <div class="fields">
                    <div class="doctor-input-field">
                        {{ form.ptr_number.label(class="label") }}
                        {{ form.ptr_number(class="input", placeholder="Professional Tax Receipt Number") }}
                    </div> 
                    <div class="doctor-input-field">
                        {{ form.specialty.label(class="label") }}
                        {{ form.specialty(class="input", placeholder="Specialty 1, Specialty 2, etc.") }}
                    </div> 
                </div>
            </div>
            <br>
            <div class="details emergency">
                <span class="title">Licenses</span>
                <div class="fields">    
                    <div class="doctor-input-field">
                        {{ form.prc_lic_number.label(class="label") }}
                        {{ form.prc_lic_number(class="input", placeholder="PRC License Number") }}
                    </div>
                    <div class="doctor-input-field">
                        {{ form.s2_lic_number.label(class="label") }}
                        {{ form.s2_lic_number(class="input", placeholder="S2 License Number") }}
                    </div> 
                </div>
                <br>
                <p class="label">By submitting this form, you agree to our <a href="#">Terms</a> and have read and acknowledge the <a href="#">Global Privacy Statement</a>.</p>
                <br>
                <div class="buttons">
                    <div class="backBtn">
                        <i class="uil uil-navigator"></i>
                        <span class="btnText">Back</span>
                    </div>
                    <button class="nextBtn">    
                        <span class="btnText">Submit</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>

        </div>
        <script>
            const form = document.getElementById("regform"),
                    nextBtn = form.querySelector(".nextBtn"),
                    backBtn = form.querySelector(".backBtn"),
                    allInput = form.querySelectorAll(".first .input");
        
        
            nextBtn.addEventListener("click", ()=> {
                allInput.forEach(input =>{
                    if(input.value != ""){
                        form.classList.add('secActive');
                    }else{
                        form.classList.remove('secActive');
                    }
                })
            })
        
            backBtn.addEventListener("click",()=> form.classList.remove('secActive'));
        </script>
    </form>  
</div>-->
<br>

</main>




{% endblock %}

{% block sidebar_script %}
<script>
    document.getElementById('dashboard-link').classList.toggle('active');
</script>
{% endblock %}