{% extends 'base.html'%}
{% block content %}







<main>

<div class="header">
    <div class="left">
        <h1>Prescriptions</h1>
        <ul class="breadcrumb">
            /
            <li><a href="{{url_for('prescriptions')}}">
                    Prescription List
                </a></li>
            /
            <li><a href="#" class="active">Prescription {{prescription.id}}</a></li>
        </ul>
    </div>
</div>


<form  method="post">

    <div class="gencontainer {{prescription.type}}"> 

        <small ><em><strong>Date prescribed:</strong> {{prescription.date_added}}</em></small> <br>
        <small ><em><strong>Type:</strong> {{prescription.type}}</em></small> <br>
        {{ form.hidden_tag() }}
            
        <small ><em><strong>Status: &nbsp;&nbsp; </strong> <status class="{{prescription.status}}">{{ form.status(class="input") }}</status></em></small>
        <br>
        <br>
        <header class="presheader"><strong>{{prescription.hospital_name}}</strong></header>
        <header class="text-muted">{{prescription.hospital_address}}</header>  <br> <br>
        <br>
        <a href="{{url_for('customer_profile', id=prescription.patient.id)}}" style="color: var(--primary);"><h1><strong>{{prescription.patient.last_name}}, {{prescription.patient.first_name}} {{prescription.patient.middle_name[0]}}.</strong></h1></a>
        
        <small class="text-muted"><em>Date of Birth: </small><br><small class="mockinput">{{prescription.patient.birthdate}}</em></small> <br>
        <small class="text-muted"><em>Sex: </small><br><small class="mockinput">{{prescription.patient.sex}}</em></small> <br>
        
        <small class="text-muted"><em>Weight ({{prescription.patient.weight_update}}): </small><br><small class="mockinput">{{prescription.patient.weight}} kg.</em></small> <br>
        <!--<small class="text-muted"><em>Address: </small><br><small class="mockinput">{{prescription.patient.address}}</em></small>--> <br> <br><br><br>
        
        
        
        
            
        
        <pre class="mockinput">{{prescription.content|safe}}</pre> <br>
        <br> <br>
        
        <p class="text-muted"><strong>Instructions to patient:</strong></p> 
        <pre class="mockinput">{{prescription.instructions_customer}}</pre>
        <br> 
        <p class="text-muted"><strong>Instructions to pharmacist:</strong></p>
        <pre class="mockinput">{{prescription.instructions_pharmacy}}</pre>
        <br>

        <br>
        <a href="{{url_for('doctor_profile', id=prescription.prescriber.id)}}" class="presheader-primary">Dr. {{prescription.prescriber.first_name}} {{prescription.prescriber.middle_name}} {{prescription.prescriber.last_name}}</a>
        <p class="label-muted">PRC License #</p>
        <p class="mockinput-nogap">{{prescription.prescriber.prc_lic_number}}</p>
        <p class="label-muted">S2 License #</p>
        <p class="mockinput-nogap">{{prescription.prescriber.s2_lic_number}}</p>
        <p class="label-muted">PTR #</p>
        <p class="mockinput-nogap">{{prescription.prescriber.ptr_number}}</p>


        

    </div>
    <br>
    <div class="buttons">
        <a href="{{url_for('prescriptions')}}" class="extrabutton small-button grey-btn" >
            <span class="smallbtnText">Go Back</span>
            <i class="uil uil-navigator extrai"></i>
        </a>
        
            <button class="extrabutton small-button" >
                <span class="smallbtnText">Save Status</span>
                <i class="uil uil-navigator extrai"></i>
            </buttton>

        
    </div>
    <br><br><br>
</form>


   






</main>




{% endblock %}

{% block sidebar_script %}
<script>
    document.getElementById('add_customer-link').classList.toggle('active');
</script>
{% endblock %}