{% extends 'base.html'%}
{% block content %}







<main>












<div class="header">
    <div class="left">
        <h1>Prescriptions</h1>
        <ul class="breadcrumb">
            /<li><a href="#" class="active">
                    Prescription List
                </a></li>
        </ul>
    </div>
</div>


    {%for prescription in prescriptions [::-1]%}

    {% if prescription.type == "Yellow"%}

    <div class="gencontainer yellow">
        Prescribed by: {{prescription.doctor}} <br>
        
        <small><em>{{prescription.date_added}}</em></small> <br>
        <small><em>Type: {{prescription.type}}</em></small> <br><br><br>

        <div class="buttons">
            <a href="{{url_for('prescription', id=prescription.id)}}" class="extrabutton small-button" >
                <span class="btnText">View Prescription</span>
                <i class="uil uil-navigator extrai"></i>
            </a>
            <a href="{{url_for('edit_prescription', id=prescription.id)}}" class="extrabutton small-button grey-btn" >
                <span class="smallbtnText">Edit</span>
                <i class="uil uil-navigator extrai"></i>
            </a>
            <a href="{{url_for('delete_prescription', id=prescription.id)}}" class="extrabutton small-button red-btn" >
                <span class="smallbtnText">Delete</span>
                <i class="uil uil-navigator extrai"></i>
            </a>
        </div>
    </div>

    {% else %}

    <div class="gencontainer white">
        Prescribed by: {{prescription.doctor}} <br>
        
        <small><em>{{prescription.date_added}}</em></small> <br>
        <small><em>Type: {{prescription.type}}</em></small> <br><br><br>

        <div class="buttons">
            <a href="{{url_for('prescription', id=prescription.id)}}" class="extrabutton small-button" >
                <span class="smallbtnText">View Prescription</span>
                <i class="uil uil-navigator extrai"></i>
            </a>
            <a href="{{url_for('edit_prescription', id=prescription.id)}}" class="extrabutton small-button grey-btn" >
                <span class="smallbtnText">Edit</span>
                <i class="uil uil-navigator extrai"></i>
            </a>
            <a href="{{url_for('delete_prescription', id=prescription.id)}}" class="extrabutton small-button red-btn" >
                <span class="smallbtnText">Delete</span>
                <i class="uil uil-navigator extrai"></i>
            </a>
        </div>
    </div>

    {%endif%}

    {% endfor %}

    <br><br>






</main>




{% endblock %}

{% block sidebar_script %}
<script>
    document.getElementById('add_customer-link').classList.toggle('active');
</script>
{% endblock %}