{% extends 'base.html'%}
{% block content %}

<main>

    <!--
    <div class="modal-bg">
        <div class="modal">
            <span class="close-modal" onclick="closeModal()"><i class="bx bx-x"></i></span>
            <img class="img-qr" src="{{url_for('static', filename= '/images/qr-sample.png')}}" alt="QR Code">
            <a href="#" class="download-button" style="color: white;
            background-color: var(--success);">
                Download QR
            </a>
        </div>
    </div>
    -->


    <div class="header">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li><a href="#">
                        Analytics
                    </a></li>
                /
                <li><a href="#" class="active">Shop</a></li>
            </ul>
        </div>
        <!--
        <a href="#" class="report">
            <i class='bx bx-qr'></i>
            <span>Profile QR</span>
        </a>
         -->
    </div>

    <div class="formcontainer">
        <header>Allow us to know you better.</header>
        <form action="" id="regform">
            <div class="form first">

                <div class="details name">
                    <br>
                    <span class="title">Personal Details</span>
                    <div class="fields">

                        <div class="input-field">
                            <label class="label">First Name</label>
                            <input class="input" placeholder="Enter firstname" required>
                        </div>
                        <div class="input-field">
                            <label class="label">Middle Name</label>
                            <input class="input" type="text" placeholder="Enter middle name" required>
                        </div>
                        <div class="input-field">
                            <label class="label">Last Name</label>
                            <input class="input" type="text" placeholder="Enter lastname" required>
                        </div>
        
                    </div>

                </div>  
                <div class="details other">
                    <br>       
                    <div class="fields">
                        <div class="input-field">
                            <label class="label">Date of Birth</label>
                            <input class="input" type="date" placeholder="Enter birth date" required>
                        </div>
                        <div class="input-field">
                            <label class="label">Mobile Number</label>
                            <input class="input" type="number" placeholder="Enter mobile number" required>
                        </div>
                        <div class="input-field">
                            <label class="label">Address</label>
                            <input class="input" type="text" placeholder="Enter current address" required>
                        </div> 

                    </div>
                    <br><br>
                    <div class="nextBtn extrabutton">
                        <span class="btnText">Next&nbsp;</span>
                        <i class="uil uil-navigator"></i>
                    </div>
                </div>
            </div>


            <div class="form second">

                <div class="details family">
                    <br>
                    <span class="title">Additional Information</span>
                    <div class="fields">
                        <div class="input-field">
                            <label class="label">Sex</label>
                            <input class="input" type="text" placeholder="Male or Female" required>
                        </div>
                        <div class="input-field">
                            <label class="label">Blood Type</label>
                            <input class="input" type="text" placeholder="Enter blood type" required>
                        </div>
                        <div class="input-field">
                            <label class="label">Weight</label>
                            <input class="input" type="text" placeholder="Enter current weight " required>
                        </div>
                    </div>
                </div>

                <div class="details emergency">
                    <span class="title">Emergency Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label class="label">Contact Person</label>
                            <input class="input" type="text" placeholder="Enter emergency contact" required>
                        </div>
                        <div class="input-field">
                            <label class="label">Mobile Number</label>
                            <input class="input" type="text" placeholder="Emergency mobile number" required>
                        </div>
                        <div class="input-field">
                            <label class="label">Email</label>
                            <input class="input" type="date" placeholder="Emergency Email" required>
                        </div> 
                    </div>
                    <br>
                    <div class="buttons">
                        <div class="backBtn">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Back</span>
                        </div>
                        <button class="nextBtn">    
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div>

            </div>
        </form>
        
        <script>
            const form = document.getElementById("regform"),
                    nextBtn = form.querySelector(".nextBtn"),
                    backBtn = form.querySelector(".backBtn"),
                    allInput = form.querySelectorAll(".first input");
        
        
            nextBtn.addEventListener("click", ()=> {
                allInput.forEach(input =>{
                    if(input.value != ""){
                        form.classList.add('secActive');
                    }else{
                        form.classList.remove('secActive');
                    }
                })
            })
        
            backBtn.addEventListener("click",()=> form.classList.remove('secActive'));
        </script>   
    </div>
    <br>

<!---Reg form js-->
 
    
</main>

{% endblock %}