<!-- Sidebar -->
<div class="sidebar">
    <a href="#" class="logo">
        <i class='bx bx-code-alt'></i>
        <div class="logo-name"><span>ID</span>PS</div>
    </a>
    <ul class="side-menu">
        <li class="active"><a href="{{url_for('dashboard')}}"><i class="material-icons-sharp">dashboard</i> Dashboard</a></li>
        <li><a href="#"><i class="material-icons-sharp">person_outline</i>User</a></li>
        <li> <a href="#"><i class="material-icons-sharp">insights</i>Analytics</a></li>
        <li><a href="#"><i class="material-icons-sharp">receipt_long</i>History</a></li>
        <li><a href="#"><i class="material-icons-sharp">add</i> New Login</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#" class="logout">
                <i class="material-icons-sharp">logout</i>
                Logout
            </a>
        </li>
    </ul>
</div>
<!-- End of Sidebar -->